* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(25, 12, 41)
}

.slider {
    width: 80vw;
    height: 50vh;
    overflow: hidden;
    padding-bottom: 4vh;
}

.images {
    height: calc(100% - 4vh);
    display: flex;
}

.images img {
    height: 100%;
    width: 100%;
    transition: all 0.15s ease;
    object-fit: contain;
    flex: 1 0 100%;
}

input {
    display: none;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.text__container {
    display: flex;
    overflow: hidden;
    width: 50%;
    align-items: center;
}

.text {
    flex: 1 0 100%;
    color: white;
    font-size: 1em;
    transition: all 0.15s ease;
    transform: translateX(100%);
    opacity: 0;
}

.dots {
    display: flex;
    margin: 2%;
}

label span {
    display: block;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    border: solid #fff 0.1vh;
    cursor: pointer;
    transition: all 0.15s ease;
}

.dots label {
    padding: 0.5rem;
    margin: 1%;
    cursor: pointer;
}

.dots label:hover span {
    background: #fff;
}

.dots label:active span {
    background: black;
}

#img1:checked~.container .dots label:nth-child(1) span {
    background: #fff;
}
#img2:checked~.container .dots label:nth-child(2) span {
    background: #fff;
}
#img3:checked~.container .dots label:nth-child(3) span {
    background: #fff;
}
#img4:checked~.container .dots label:nth-child(4) span {
    background: #fff;
}

#img1:checked~.images .pic1 {
    margin-left: 0;
}

#img2:checked~.images .pic2 {
    margin-left: -100%;
}

#img3:checked~.images .pic3 {
    margin-left: -200%;
}

#img4:checked~.images .pic4 {
    margin-left: -300%;
}

#img1:checked~.container .text__container .text__one {
    opacity: 1;
    transform: translateX(0%);
}

#img2:checked~.container .text__container .text__two {
    opacity: 1;
    transform: translateX(-100%);
}

#img3:checked~.container .text__container .text__three {
    opacity: 1;
    transform: translateX(-200%);
}

#img4:checked~.container .text__container .text__four {
    opacity: 1;
    transform: translateX(-300%);
}

@media (max-width: 660px)  {
    .images {
        height: 20vh;
    }

    .container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .text__container {
        width: 100%;
    }
}